.site-portfolio {
	position: relative;

    width: 100%;
	height: calc(100vh - calc(var(--grid-cell-height) * 10));
	max-height: calc(calc(var(--grid-cell-width) * 60));

    /* Vertical gradient from black-low to black-high to black-low */
    background: linear-gradient(
        to bottom,
        var(--color-white) 0,
        var(--theme-surface-low) calc(var(--grid-cell-height) * 1),
        var(--theme-surface-mid) calc(var(--grid-cell-height) * 2),
        var(--theme-surface-mid) calc(100% - var(--grid-cell-height) * 2),
        var(--theme-surface-low) calc(100% - var(--grid-cell-height) * 1),
        var(--color-white) 100%
    );

	border: 0;
	padding: 0;
	margin: 0;

	display: block;
	box-sizing: border-box;

	user-select: none;
	pointer-events: none;

	overflow: hidden;

	-webkit-tap-highlight-color: transparent;
}

.site-portfolio img {
	border: 0;

	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}
