.site-portfolio {
	position: relative;

    width: 100%;
	height: calc(100vh - calc(var(--grid-cell-width) * 10));
    /* height: calc(var(--grid-cell-width) * 60); */

    background: var(--color-background);

	border: 0;
	padding: 0;
	margin: 0;

	display: block;
	box-sizing: border-box;

	user-select: none;
	pointer-events: none;

	overflow: hidden;

	pointer-events: none;

	-webkit-tap-highlight-color: transparent;
}

.site-portfolio img {
	border: 0;

	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}

/* __________________________________________________________________ Display */

.site-portfolio .display {
	margin-left: auto;
	margin-right: auto;
}

/* ____________________________________________________________________ Media */

.site-portfolio .display .media-surface {
	position: absolute;

	z-index: 100;
}

.site-portfolio .display .media-surface {
	position: absolute;

	z-index: 100;
}

.site-portfolio .display .media-surface .video-holder {
	position: absolute;

	left: 0;
	top: 0;

	width: 100%;
	height: 100%;
}

.site-portfolio .display .media-surface .video-holder .player-holder {
	position: absolute;

	left: 0;
	top: 0;

	width: 100%;
	height: 100%;
}

.site-portfolio .display .media-surface .video-holder .button-play {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 32px;
	background: rgba(0, 0, 0, 0.1);
	color: white;

	pointer-events: auto;
	cursor: pointer;

	outline: none;
	border: none;
	box-shadow: none;
	background-clip: padding-box;

	-webkit-tap-highlight-color: transparent;
	-webkit-focus-ring-color: transparent;
	-webkit-user-select: none;
	user-select: none;
	touch-action: manipulation;
	appearance: none;
	-webkit-appearance: none;
}

.site-portfolio .display .media-surface .video-holder .button-play:focus {
	outline: none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	border: none !important;
}

.site-portfolio .display .media-surface .image-gallery {
	position: absolute;

	left: 0;
	top: 0;

	width: 100%;
	height: 100%;

	pointer-events: auto;
}

.site-portfolio .display .media-surface .image-gallery .image {
	position: absolute;

	left: 0;
	top: 0;

	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;

	width: 100%;
	height: 100%;
}

/* ___________________________________________________________ Render Surface */

.site-portfolio .display .render-surface {
	position: absolute;

	z-index: 200;
}

/* ______________________________________________________________ Interactive */

.site-portfolio .display .interactive-surface {
	position: absolute;

	z-index: 300;
}

.site-portfolio .display .interactive-surface .interactive-block {
	position: absolute;

	z-index: 301;

	pointer-events: auto;
	cursor: pointer;
}

/* ______________________________________________________________ Development */

.site-portfolio .display .development-surface {
	position: absolute;

	z-index: 400;
}
