.site-portfolio {
	position: relative;

    width: 100%;
	height: calc(100vh - calc(var(--grid-cell-width) * 10));
	max-height: calc(calc(var(--grid-cell-width) * 60));

    /* Vertical gradient from dark-low to dark-high to dark-low */
    background: linear-gradient(to bottom,
		var(--color-dark-low),
		var(--color-dark-high),
		var(--color-dark-high),
		var(--color-dark-high),
		var(--color-dark-low));

	border: 0;
	padding: 0;
	margin: 0;

	display: block;
	box-sizing: border-box;

	user-select: none;
	pointer-events: none;

	overflow: hidden;

	pointer-events: none;

	-webkit-tap-highlight-color: transparent;
}

.site-portfolio img {
	border: 0;

	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}
