.loading-dots {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.loading-dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #333;
  border-radius: 0.25rem;
}