.button-icon {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background: var(--color-text);
  color: var(--color-background);

  cursor: pointer;
  pointer-events: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  color: var(--theme-color);
  background: var(--theme-background);

  font-size: inherit;
}

.button-icon:hover {
  background: var(--color-background);
  color: var(--color-text);
}

.button-icon--small {
  width: calc(var(--grid-cell-width) * 4);
  height: calc(var(--grid-cell-height) * 4);

  border-radius: calc(var(--grid-cell-width) * 2);

  font-size: 1.5rem;
}

.button-icon--medium {
  width: calc(var(--grid-cell-width) * 6);
  height: calc(var(--grid-cell-height) * 6);

  border-radius: calc(var(--grid-cell-width) * 3);

  font-size: 2.0rem;
}

.button-icon--large {
  width: calc(var(--grid-cell-width) * 8);
  height: calc(var(--grid-cell-height) * 8);

  border-radius: calc(var(--grid-cell-width) * 4);

  font-size: 2rem;
}