.site-glass {
	position: relative;

    width: 100%;
	height: calc(100vh - calc(var(--grid-cell-height) * 10));
	max-height: calc(calc(var(--grid-cell-width) * 60));

    background: var(--theme-surface-mid);

	border: 0;
	padding: 0;
	margin: 0;

	display: block;
	box-sizing: border-box;

	user-select: none;
	pointer-events: none;

	overflow: hidden;

	-webkit-tap-highlight-color: transparent;
}

.site-portfolio img {
	border: 0;

	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}
