.button-color-circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}


.button-color-circle--small {
  width: calc(var(--grid-cell-width) * 2);
  height: calc(var(--grid-cell-height) * 2);
}

.button-color-circle--medium {
  width: calc(var(--grid-cell-width) * 3);
  height: calc(var(--grid-cell-height) * 3);
}

.button-color-circle--large {
  width: calc(var(--grid-cell-width) * 4);
  height: calc(var(--grid-cell-height) * 4);
}
