.button-color-circle {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background: var(--color-text);
  color: var(--color-background);

  cursor: pointer;
  pointer-events: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: inherit;
}


.button-color-circle--small {
  width: calc(var(--grid-cell-width) * 2);
  height: calc(var(--grid-cell-height) * 2);

  border-radius: calc(var(--grid-cell-width) * 1);
}

.button-color-circle--medium {
  width: calc(var(--grid-cell-width) * 3);
  height: calc(var(--grid-cell-height) * 3);

  border-radius: calc(var(--grid-cell-width) * 1.5);
}

.button-color-circle--large {
  width: calc(var(--grid-cell-width) * 4);
  height: calc(var(--grid-cell-height) * 4);

  border-radius: calc(var(--grid-cell-width) * 2);
}
