.button-development {
  width: calc(var(--grid-cell-width) * 20);
  height: calc(var(--grid-cell-height) * 6);

  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background: var(--color-background);
  color: var(--color-text);

  cursor: pointer;
  pointer-events: auto;
}
