.button-development {
  width: calc(var(--grid-cell-width) * 20);
  height: calc(var(--grid-cell-height) * 2);

  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background: var(--color-text);
  color: var(--theme-background);

  cursor: pointer;
  pointer-events: auto;

  text-align: left;
}

.button-development:hover {
  background: var(--theme-background);
  color: var(--color-text);
}
